html {
    font-family: 'Lucida Console', monospace;
}

body {
    display: flex;
    justify-content: center;
}

#calculator {
    height: 75vh;
    width: 50vh;
    border: solid black;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

#calc-display {
    border: solid black;
    height: 20vh;
    font-size: 7vh;
}

#calc-controls {
    border-left: solid black;
    border-top: solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.control-rows {
    flex-grow: 1;
    display: flex;
}

.control-buttons {
    flex: 1;
    display: flex;
    border-right: solid black;
    border-bottom: solid black;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}